<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarketBarkod.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MarketBarkod.Properties.Settings.BarcodeSystemConnectionString"
            connectionString="Data Source=HOMEPC\SQLEXPRESS;Initial Catalog=BarcodeSystem;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="MarketBarkod.Properties.Settings.Local" connectionString="Data Source=.; Integrated Security=true; AttachDbFileName=C:\BarcodeSystem\BarcodeSystem.mdf" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MarketBarkod.Properties.Settings>
            <setting name="ayar" serializeAs="String">
                <value>15</value>
            </setting>
        </MarketBarkod.Properties.Settings>
    </userSettings>
</configuration>